
SuperPlay.vcxproj.user
*.obj
*.pdb
*.idb
*.tlog
*.log
*.ilk
*.exp
*.exe
*.ipch
*.res
Debug/SuperPlay.lib
*.opendb
*.db
*.suo
*.o
*.d
*.bin
*.tgz
/Roku/package/*
SteamLink/package/SuperPlay/SuperPlay
SteamLink/package/SuperPlay/SuperPlay
